{% extends "sitecompras/base.html" %}

{% block content %}
    <p>{{ produto.photo }}</p>
    <p>{{ produto.name }}</p>
    <p>R$ {{ produto.price }}</p>
    <p>{{ produto.description }}</p>

    <form action="{% url 'add_cart' produto.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="quantity">Quantidade:</label>
        <input type="number" name="quantity" value="1" min="1" max="999">
        <button type="submit">Adicionar ao carrinho</button>
    </form>

    {% if request.user.is_authenticated %}
        {% if reviews_form %}
            <p>Avalie o produto!</p>
            <form action="{% url 'add_review' produto.id %}" method="post">
                {% csrf_token %}
                {{ reviews_form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        {% else %}
            <p>Você já avaliou este produto.</p>
        {% endif %}
    
    {% else %}
        <a href="{% url 'login' %}">Faça login para avaliar</a>
    {% endif %}
    
    <p>Avaliações do produto {{ reviews.count }}</p>
    {% for review in reviews %}
        <hr>
        <p>{{ review.user.username }} - {{ review.stars }} Estrelas - Avaliação feita em: {{ review.created_at|date:"d/m/Y H:i" }}</p>
        <p>{{ review.content|linebreaks }}</p>
        <hr>
    {% endfor %}


{% endblock content %}